<h1>New Genre Form</h1>
<%= form_for @genre do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>
  <%= f.submit %>
<% end %>
<button type="button" class="btn-outline-primary">
  <%= link_to 'Back', genres_path %>
</button>
